<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()" class="text-white">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button expand="block" (click)="logout()">Cerrar sesion</ion-button>
  <ion-card *ngIf="profile">
    <ion-card-content class="d-flex flex-column">
      <div class="profile-pic">
        <img [src]="getImage('photoProfile')" alt="profile photo" />
      </div>
      <hr>
      <ion-card-title>{{ profile.name }} {{ profile.lastname }}</ion-card-title>
      <ion-card-subtitle><strong>Genero: </strong>{{ profile.gender }}</ion-card-subtitle>
      <ion-label><strong>Email: </strong> {{ profile.email }}</ion-label>
      <ion-label><strong>Teléfono: </strong> {{ profile.phone }}</ion-label>
      <ion-label><strong>Tipo de identificación: </strong> {{ profile.identificationType }}</ion-label>
      <ion-label><strong>Número de identificación: </strong> {{ profile.identificationNumber }}</ion-label>
      <ion-label><strong>Dirección: </strong> {{ profile.geoAddress }}</ion-label>
      <ion-label class="text-center"><strong>Documento parte frontal</strong></ion-label>
      <ion-item>
        <img [src]="getImage('photoIdFront')" alt="id front photo" />
      </ion-item>
      <ion-label class="text-center"><strong>Documento parte trasera</strong></ion-label>
      <ion-item>
        <img [src]="getImage('photoIdBack')" alt="id back photo" />
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>